mixin card-category(place = {}, i = 0)
	div(class="place place--"+(i+1))
		.place__image
			img(src="http://via.placeholder.com/600x200?text=hero" alt="")
		.place__name
			<h2>#{place.name}</h2>
		.place__category
			img(src="http://via.placeholder.com/50x50?text=icon" alt="")
			a(href=`/places/${place.category.slug}`)= place.category.name
		.place__overview
			.place__score
				h3= place.rating
				img(src="http://via.placeholder.com/50x50?text=icon" alt="")
				h4 pts
			.place__distance
				h3= place.distance
				img(src="http://via.placeholder.com/50x50?text=icon" alt="")
				h4 miles
			.place__visits
				h3= place.visits.length
				img(src="http://via.placeholder.com/50x50?text=icon" alt="")
				h4 visits
		.place__cta
			a(href=`/place/${place._id}` class="button button--cta") View


