mixin card-visit(place = {}, visit = {}, i)
	div(class=`card__visit card__visit--${i}`)
		.card__actions
			a(href=`/place/${place._id}/visit/${visit._id}` class="icon__edit--trigger")
				img(src="/images/icon-edit.svg" alt="edit visit" class="icon__edit")
		.card__visit--date
			h4 #{visit.prettyCreated}
		.card__visit--rating
			h5 Experience
				span  #{visit.rating}
		.card__visit--cost
			h5 Cost
				span  #{visit.cost}
		-if( visit.comment ) {
			.card__visit--comment
				h5 Comment
				p #{visit.comment}
		- } else {
			.card__visit--comment
				h5 Comment
				p Currently no comment
		- }
		.card__actions
			form(action=`/place/${place._id}/visit/${visit._id}` method="POST" enctype="application/x-www-form-urlencoded")
				input(type="hidden" name="_method" value="DELETE")
				button(class="delete")
					img(src="/images/icon-delete.svg" alt="delete visit" class="icon__delete")

