mixin card-single(place = {})
	div(id="js-card" class="card")
		.card__image-container
			form(action=`/place/${place._id}/update-image` class="card__image" method="POST" enctype="multipart/form-data" id="form-image-update")
				label image
				.form__image-container
					img(src=`/uploads/${place.img}` alt=`${place.name}` id="current-image")
					//- label(class="form__image--preview") Image Preview
					img.image__preview
				.form__input--image-wrapper
					//- image upload
					label(for="img-update" class="form__input--image-button") Change Image
					input(type="file" name="img" id="img-update" class="form__input form__input--image" accept="image/gif, image/png, image/jpeg")
				span(class="edit edit--trigger" data-trigger="image")
					img(src="/images/icon-edit.svg" alt="edit image")
				span(class="edit edit--cancel" data-cancel="image" id="image-cancel")
					img(src="/images/icon-cancel.svg" alt="cancel image")
				button(class="edit edit--save" data-save="image")
					img(src="/images/icon-update.svg" alt="save image")
		.card__name-container
			form(action="" class="card__name")
				label name
				input(type="text" name="name" value=`${place.name}` class="form__input form__input--name" data-input="name" disabled)
				span(class="edit edit--trigger" data-trigger="name")
					img(src="/images/icon-edit.svg" alt="edit name")
				span(class="edit edit--cancel" data-cancel="name")
					img(src="/images/icon-cancel.svg" alt="cancel name")
				span(class="edit edit--save" data-save="name")
					img(src="/images/icon-update.svg" alt="save name")
		address(class="card__location")
			form(action="" class="card__address")
				label address / distance (miles)
				#address__container
					textarea(rows="1" name="address" class="form__input form__input--address" data-input="address" disabled) #{place.address}
					input(name="distance" class="form__input form__input--address" value=`${place.distance}` data-input="address" disabled)
				span(class="edit edit--trigger" data-trigger="address")
					img(src="/images/icon-edit.svg" alt="edit address")
				span(class="edit edit--cancel" data-cancel="address")
					img(src="/images/icon-cancel.svg" alt="cancel address")
				span(class="edit edit--save" data-save="address")
					img(src="/images/icon-update.svg" alt="save address")
		div
			form(action="" class="card__tags")
				label tags
				#tag__container
					each tag, i in place.tags
						input(class="form__input form__input--tag" name=`tag` value=`${tag}` data-input="tag" disabled)
				span(class="edit edit--trigger" data-trigger="tag")
					img(src="/images/icon-edit.svg" alt="edit tags")
				span(class="edit edit--cancel" data-cancel="tag")
					img(src="/images/icon-cancel.svg" alt="cancel tags")
				span(class="edit edit--save" data-save="tag")
					img(src="/images/icon-update.svg" alt="save tags")
				span(class="edit edit--delete" data-delete="tag")
					img(src="/images/icon-delete.svg" alt="delete tags")
				span(class="edit edit--add" data-add="tag")
					img(src="/images/icon-add.svg" alt="add tags")
		.card__details
			.card__points
				img(src="/images/icon-rating.svg" alt="rating icon")
				<h3>#{place.rating} pts</h3>
			.card__visits
				img(src="/images/icon-visits.svg" alt="visits icon")
				<h3>#{place.visits.length} visits</h3>
			.card__cost
				img(src="/images/icon-cost.svg" alt="cost icon")
				<h3>#{place.cost} cost</h3>
			.card__comments
				img(src="/images/icon-comment.svg" alt="comment icon")
				- const numOfComments = place.visits.filter( (visit) => visit.comment );
				- const commentText = ( numOfComments.length == 1 ) ? 'comment' : 'comments';
				<h3>#{numOfComments.length} #{commentText}</h3>
		.card__actions
			a(href=`/place/${place._id}/visits` class="button button--cta") Visits
	.ajax__response
		.response__message
